<!DOCTYPE html>
<html lang="pt">
<head>
    <script src="../js/dashboard/dashboard.js"></script>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>WEB 2023.2| Medium </title>

    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>

<body>
    @include('topnav')
    @include('sidebar')

    <main class="ml-25-100">
        @!section('content')
    </main>
</body>
</html>