<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Projeto WEB | Medium </title>

    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    
    @entryPointStyles('app')   
    @entryPointScripts('app')
</head>

<body>
    <nav>
        <div class="m-10">
            <label>
                Titulo
            </label>

            <label class="float-right">
                nome_usuario
            </label>

            @if(auth.user)
                <div> <a href=" {{ route('api.auth.logout') }}">Logout</a>
                </div>
            @endif       
        </div>        
    </nav>
    <main>
        @!section('content')
    </main>
</body>
</html>