<div id="my-sidenav" class="sidebar" style="display: none">
  <a href="{{ route('web.posts.create') }}">Nova publicação</a>
  <a 
    href="{{ 
      route(
        'web.users.show',
        { id: auth.user.id }
      )
    }}">Meu perfil</a>

  <a
    href="{{ route('web.users.posts', {id: auth.user.id}) }}"
    href="#">Minhas postagens</a>
  <a
    href="#">Meus favoritos</a>
  <a
    href="#">Sair</a>
</div>
