
@include('layouts/dashboard')
@set('titulo', 'Meu perfil')

@section('content')
    <div class="m-5">
        <div>
            <label>Email: </label>
            <span>{{user.email}}</span>
        </div>
       
    </div>
@endsection
