@layout('layouts/dashboard')
@set('title', '')
@section('content')
    <div class="block">
    @if(page.rows.length == 0)
    <div> 
        Ainda não há nada por aqui :(
        <br>
        <a href="{{ route('web.post.create') }}">
            Que tal começar e escrever sua primeira publicação?
        </a>
    </div>    
    @endif

    <div class="container" id="scroller">
        @each(post in page.rows)
            @include('partials/post')
        @end
    </div>
</div>
@endsection