@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import './topnav.css';
@import './sidebar.css';
@import './util.css';
@import './colors.css';
@import './view.css';
@import './posts-template.css';
@import './input.css';

.input-container {
    display: flex;
    width: 100%;
}

.icon {
  text-align: center;
  cursor: pointer;
}

.form {
  background: var(--purple-lighter);
  display: flex;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--purple);
  box-shadow: 7px 7px var(--purple);
}

.form button {
  text-transform: uppercase;
  padding: 8px;
  margin: 15px 0px 10px 0px;
  width: 100%;
}

input {
  width: 100%;
  padding: 3px;
  margin: 5px 0px 5px 0px;
  border: 1px solid white;
  border-radius: 6px;
}

.textarea-big {
  width: 100vh;
  height: 400px;
  padding: 3px;
  margin: 5px 0px 5px 0px;
}

.textarea-mid {
  width: 100vh;
  height: 100px;
  padding: 3px;
  margin: 5px 0px 5px 0px;
}

.block {
  display: block;
  width: 100%;
}

.center {
  height: 100vh !important;
}

.content {
  padding: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

html, body {
  background-color: var(--off-white);
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  color: var(--primary);
  position: relative;
}

/* body:before {
  content: '';
  background: purple;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  position: absolute;
} */

* {
  margin: 0;
  padding: 0;
}

a, 
.link {
  background: none;
  color: purple;
  text-decoration: none;
}

button:hover {
  border: 1px solid purple;
  background: thistle;
  border-radius: 5px;
  color: purple;
}

button {
  cursor: pointer;
  border: none;
  background: purple;
  border-radius: 5px;
  color: thistle;
}

main {
  height: 100%;
  max-width: 620px;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.main-container {
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
}

/* .title {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  color: #17161A;
}

.subtitle {
  font-size: 26px;
  margin-bottom: 40px;
} */

p {
  margin-bottom: 20px;
}

i {
  cursor: pointer;
}

main ul {
  list-style: none;
}

main li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 25px;
}

main li:before {
  content: '—';
  position: absolute;
  left: 0;
}

main code {
  font-size: 16px;
  background: #e6e2ff;
}

.m-10 {
  margin: 10px;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
}

/* html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
} */

/* * {
  box-sizing: inherit;
  &:before,
  &:after {
      box-sizing: inherit;
  }
} */

/* body {
  min-height: 100vh;
  font-family: 'Mukta Malar', Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F5F9FF;  
  .form-group {
      max-width: 360px;
      &:not(:last-child) {
          margin-bottom: 32px;
      }
  }
} */

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  font-size: 11px;
  visibility: hidden;
  min-width: 120px !important;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 15px;
  position: absolute;
  z-index: 1;
  display: block;
  white-space: nowrap;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}