.sidebar {
    background-color: black;
    display: flex;
    flex-flow: column;
    right: 0px;
    position: absolute;
    width: 25%;
    display: flex;
    border-radius: 8px 0px 8px 8px;
}

.sidebar a {
    text-align: end;
    padding: 5px;
    cursor: pointer;
    color: darkslateblue;
}

.sidebar a:hover {
    background-color: darkslateblue;
    color: azure;
    border-radius: 7px;
}