.float-right {
    float: right;
}

.float-left {
    float: left;
}

.ml-25-100 {
    margin-left: 25%;
}

.r-0 {
    right: 0;
}

.mt-5,
.my-5{
    margin-top: 5px;
}

.mt-10,
.my-10 {
    margin-top: 10px;
}

.mt-15,
.my-15 {
    margin-top: 15px;
}

.mb-5,
.my-5 {
    margin-bottom: 5px;
}

.mb-10,
.my-10 {
    margin-bottom: 10px;
}

.mb-15,
.my-15 {
    margin-bottom: 15px;
}

.ml-5,
.mx-5 {
    margin-left: 5px;
}

.ml-10,
.mx-10 {
    margin-left: 10px;
}

.ml-15,
.mx-15 {
    margin-left: 15px;
}

.mr-5, .mb-5 {
    margin-right: 5px;
}

.mr-10, .mb-10 {
    margin-right: 10px;
}

.mr-15, .mb-15 {
    margin-right: 15px;
}

.text-end {
    text-align: end;
}

.text-center {
    text-align: center;
}
