<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/x-icon" href="./../../../rural_logo03.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>WEB 2023.2 </title>

    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    
    @entryPointStyles('app')   
    @entryPointScripts('app')
</head>

<body>    
    <main class="center">
        <div>
            <h2 class="mb-5 pointer"> {{titulo}} </h2>    
            @!section('content')
        </div>
    </main>

    @include('partials/footer')
</body>
</html>