<div id="my-sidenav" class="sidebar" style="display: none">
  <a href="{{ route('web.post.create') }}">Nova publicação</a>
  <a 
    href="{{ 
      route(
        'myProfile',
        { id: auth.user.id }
      )
    }}">Meu perfil</a>

  <a
    href="{{ route('web.user.posts', {id: auth.user.id}) }}"
    href="#">Minhas postagens</a>
  <a
    href="#">Meus favoritos</a>
  <a
    href="{{ route('api.auth.logout') }}">Sair</a>
</div>
